:root {
  --sidebar-bg-color: rgba(255, 255, 255, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

div {
  width: 100%;
  height: 100%;
}

/* any change here should also be made in loadHeader.js */
#div-home-page {
  min-height: 800px;
  min-height: 800px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 7fr 90fr 3fr;
  grid-template-areas:
    "hdr hdr"
    "sbr cnt"
    "ftr ftr";
}

#div-header {
  grid-area: hdr;
  display: flex;
  justify-content: space-between;
}

#div-header-left {
  width: 20%;
  display: flex;
  align-items: center;
}

#div-header-center,
#logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-image {
  background-image: url(./icons/check-all.svg);
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}

#logo-text {
  width: fit-content;
  height: fit-content;
  font-size: 3.5rem;
  font-weight: bold;
}

#logo-text-right {
  color: green;
}

#div-header-right {
  width: 20%;
}

#hide-sidebar-btn {
  background-image: url(./icons/hamburger-icon.svg);
  background-repeat: no-repeat;
  background-color: var(--sidebar-bg-color);
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border: none;
}

#div-sidebar {
  grid-area: sbr;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#home-card,
#project-card {
  padding: 20px;
  height: 50%;
  /* border: 1px solid black; */
}

#home-card > div:hover,
#project-card > div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  cursor: pointer;
}

/* home card and project card titles */
#home-card > p,
#project-card > p {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* home card categories */
#home-card > div,
#project-card > div {
  display: flex;
  height: fit-content;
  margin-top: 30px;
  align-items: center;
  font-size: 1rem;
  padding: 2px;
}

#home-card > div > div:first-child,
#project-card > div > div:first-child {
  width: 2rem;
  height: 2rem;
}

#project-card > div:last-child {
  display: flex;
  justify-content: center;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px;
}

#div-content {
  background-color: green;
  grid-area: cnt;
}

#div-innerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: brown;
}

#content-title {
  background-color: aqua;
  flex: 1;
  font-size: 2.7rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 70%;
  height: 50%;
}

#content-title > span {
  margin-left: 50px;
}

#content-tasks {
  background-color: yellowgreen;
  flex: 10;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 70%;
  min-width: 800px;
}

#content-tasks > div{
  border: 2px solid black;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
}

#add-task-button {
  position: fixed;
  top: 90%;
left: 95%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

#div-footer {
  grid-area: ftr;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
}

#div-footer > div {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  width: 400px;
}

#div-footer > div > div {
  width: fit-content;
  font-size: 1.3rem;
  color: antiquewhite;
}

#div-footer a {
  color: antiquewhite;
}

/* heart logo */
#div-footer > div > div:nth-child(2) {
  width: 1.5rem;
  margin: 0 4px;
}
