* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

div{
  background-color: pink;
  width: 100%;
  height: 100%;
}

#div-home-page{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 87% 3%;
    grid-template-areas: 
    "hdr hdr"
    "sbr cnt"
    "ftr ftr";
}

#div-header{
    grid-area: hdr;
    display: flex;
    justify-content: space-between;
}

#div-header>div{
    border: 1px solid black;
}

#div-header-left{
    width: 20%;
}

#div-header-right{
    width: 20%;
}

#hide-sidebar-btn{
    background-image: url(./icons/hamburger-icon.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 25px;
}

#div-sidebar{
    background-color: red;
    grid-area: sbr;
}

#div-content{
    background-color: green;
    grid-area: cnt;
}

#div-footer{
    background-color: orange;
    grid-area: ftr;
}